<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('partials/head.ejs') -%> 
</head>
<body>
    <%- include('partials/navigation.ejs') -%> 
    <div class="container p-5">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <div class="card animated flipInY">
                    <div class="card-header bg-dark text-white text-center">
                        <h3>Contact me</h3>
                    </div>
                    <div class="card-body">
                        <form action="">
                            <div class="mb-3">
                                <input type="text" class="form-control" placeholder="Email">
                            </div>
                            <div class="mb-3">
                                <textarea  class="form-control" id="" cols="30" rows="10" placeholder="Message"></textarea>
                            </div>
                            <div class="mb-3">
                                <div class="d-grid gap-2">
                                    <button class="btn btn-primary ">
                                        Send message
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <%- include('partials/footer.ejs') -%> 
</body>
</html>