<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node js</title>
    <%- include('partials/head.ejs') -%> 
   
</head>
<body>
    <%- include('partials/navigation.ejs') -%> 

    <div class="container">
        <header class="row">
            <div class="col-lg-12 text-center">
                <img src="/img/pews-logo.png" class="animated bounceIn" alt="logo">
            </div>
        </header>
    </div>
    <!-- SECTION ONE -->
    <div class="container-fluid" id="about">
        <div class="row bg-dark text-white p-5 text-center">
            <div class="col-sm-6">
                <i class="fab fa-youtube fa-10x"></i>
            </div>
            <div class="col-sm-6">
                <h3>The most suscribed youtuber</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque accusamus quibusdam facere perferendis? Deserunt dignissimos fuga quia impedit dolor ex officiis ut esse, quam odit delectus earum deleniti repellat voluptate.</p>
            </div>
        </div>
    </div>
    <%- include('partials/footer.ejs') -%> 
</body>
</html>